.container{
    width:100%;
    height: 100%;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background:rgb(39, 35, 35);
    padding:20px;
    border-radius:10px;
}
.calculator form input{ 
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px;
    background: transparent;
    font-size: 20px;
    color: rgb(250, 245, 245);
    margin: 10px;
}
form .display{
    display: flex;
    justify-content:flex-end;
    margin:20px 0;
}
form .display input{
    text-align:right;
    flex:1;
    font-size: 45px;
    box-shadow:none
}
