body{
    margin:0;
    padding:0;
}
.circle1{
    height: 400px;
    width:400px;
    margin:50px auto;
    border-radius: 50%;
    border: 5px solid black;
}
.circle2, .circle3{
    height:50px;
    width:50px;
    border-radius:50%;
    border:5px solid black;
    background-color: orange;
}
.circle2{
    margin: 75px 80px;
}
.circle3{
    margin: 0px 180px;
}
#nose{
    margin: 10px 65px;
    border-left: 50px solid white;
    border-right: 50px solid white;
    border-bottom: 100px solid blue;
}
#mouth{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 5px solid black;
    margin: 60px 60px;
    width: 100px;
    height: 40px;
    justify-content: center;
    background-color: red;
}