body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.chessboard{
    border:2px solid black;
    width: 800px;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
}
.chessboard div{
    width: 100px;
    height:100px;
    width:calc(100%/8);
    font-size: 60px;
    text-align:center;
    text-shadow: 2px 1px white;
}
.a{
    background-color: white;
}
.b {
    background-color: black;
}