img{
    border-radius: 50%;
    border: 10px solid green;
}
body{
     background-color: black;
     text-align: center;
}
.circle1,.circle2,.circle3,.circle4{
        height: 100px;
        width:100px;
        border: 10px solid red;
        background-color: orange;
        position: absolute;
}
.circle1{
        margin: 0px 585px;
        border-radius: 50% 50% 50% 0;
        top: 682px;
}
.circle2{
        margin: 0px 475px;
        top: 682px;
        border-radius: 50% 50% 0 50%
}
.circle3{
        margin: 0px 475px;
        top: 793px;
        border-radius: 50% 0 50% 50%;
}
.circle4{
        margin: 0px 588px;
        top: 793px;
        border-radius:0 50% 50% 50%;
}
#middle{   
        height: 75px;
        width: 75px;
        margin: 0px 543px;
        top: 753px;
        position: absolute;
        border-radius: 50%;
        border: 10px solid red;
        background-color: purple;
}
#stem{
        width: 8px;
        height: 250px;
        background-color: green;
        position: absolute;
        margin: 235px 589px;
}
#leaf{
        width: 100px;
        height: 5px;
        background-color:green;
        position: absolute;
        top: 454px;
        margin: 590px;
}
.lf1{
        height: 100px;
        width: 100px;
        border: 10px solid green;
        background-color: greenyellow;
        position: absolute;
        margin: 0px 623px;
        top: 150%;
        border-radius: 50% 0 50% 50%;
}
.trs{
        transform:inherit;
        text-align: center;
}