body{
    padding: 0;
    margin:0;
}
.container{
    height: 450px;
    width: 550px;
    margin: 50px auto;
    border: 5px solid black;
}
.cir{
    height:100px;
    width:100px;
    border-radius:50%;
    border:5px solid black;
    position: absolute;
    top: 125px;
    display: flex;
}
.cir1{
    right: 32%;
}
.cir2{
    left: 32%;
}
#mouth{
    border: 5px solid black;
    width: 250px;
    height: 100px;
    position: fixed;
    margin: 261px 146px;
}
.eybr1,.eybr2{
    width: 125px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 90px;
}
.eybr1{
    left: 32%;
}
.eybr2{
    right: 32%;
}
#nose{
    width:5px;
    height:125px;
    background-color: black;
    display: inline-block;
    position: fixed;
    margin: 90px auto;
    left: 50%;
}