*{
    margin: 0;
}
img{
    width: 400px;
    /* transform: width 2s, height 2s, transform 2s; */
    
}
.img{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
   
}

img:hover{
    width:500px ;
    transform: rotateX('60deg');
}
