body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        'img main main main'
        'img main main main'
        'footer footer footer footer';
    gap: 10px;
}

.Nav {
    display: grid;
    grid-area: img;
}

ul {
    /* display: flex;
    flex-direction: column; */
    list-style: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    background-color: rgb(69, 115, 115);
    height: 100%;
    /* overflow: auto; */
}

li a {
    display: grid;
    color: rgb(244, 231, 231);
    text-decoration: none;
    margin: 50px 0;
    padding: 20px 0px;
    text-align: center;
}

li a:hover {
    background-color: rgb(92, 152, 152);
    color: rgb(30, 30, 32);
}

.Content {
    margin-left: 25%;
    padding: 12px 20px;
    grid-area: main;
}

.Footer {
    grid-area: footer;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    bottom: 0;
    /* position: fixed; */
    width: 100%;
}