body{
    margin: 0;
    background-color: aliceblue;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) 
{
    body {
      background-color: lightblue;
    }
}
.navbar{
    background-color: rgb(13, 13, 13);
    padding: 25px;
    display: flex; 
    position: sticky;
    margin: 0;
    justify-content: space-around; 
}
.navbar li {
    list-style: none;
}
.navbar a{
 text-decoration: none;
 color: rgb(8, 6, 3);
 color: azure; 
}
.navbar a:hover{
    color: rgb(92, 134, 134);
}
/* .container{
    display: flex;
} */
.container img{
    float: left;
    /* display: flex; */
    width:50%;
    padding: 10px;
}
.Qualification{
    /* display: flex; */
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarineFJ;
}
tr,th,td{
    border: 2px solid rgb(9, 9, 9);
    padding: 5px;
    text-align: center;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    /* position: sticky; */
  }
  #para p{
    line-height: 30px;
  }