*
{
    padding: 0;
    margin: 0;
}
.grid-container
{
  display: grid;
   gap: 10px;
   overflow: hidden;
   background-color: lightslategray;
   line-height: 25px;
  grid-template-areas: 
  'img1 para1 img2 '
  'para2 para3 img2'
  'para2 para3 img2'
  'para2 para3 img2'
  'para2 para3 img2'
  'para2 para3 para4'
  'img3 img3 para4';
   
}

.item1{grid-area: img1;}
.item2{grid-area: para1;
padding-top: 30px;}
.item3{grid-area: img2;}
.item4{grid-area: para2;}
.item5{grid-area: para3;}
.item6{grid-area: para4;}
.item7{grid-area: img3;}
